**TASK-3 : CUSTOMER SEGMENTATION AND ANALYSIS AND VISUALIZATION**

## Author:Shaik Rafi

## Batch:July

## Domain:Data analytics

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("/content/Mall_Customers.csv")

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
genders = df.Gender.value_counts()

In [ ]:
plt.figure(figsize=(10,20))

In [ ]:
sns.barplot(x=genders.index,y=genders.values)

In [ ]:
age18_25 = df.Age[(df.Age<=25)&(df.Age>=18)]
age26_35 =  df.Age[(df.Age<=35)&(df.Age>=26)]
age36_45 =  df.Age[(df.Age<=45)&(df.Age>=36)]
age46_55 =  df.Age[(df.Age<=55)&(df.Age>=46)]
age55above  = df.Age[(df.Age>=56)]

In [ ]:
x=["18-25","36-45","46-55","Above 55"]
y=[len(age18_25.values),len(age26_35.values),len(age36_45.values),len(age46_55.values),len(age55above.values)]

In [ ]:
plt.figure(figsize=(15,6))
plt.title("Number of customer and ages")
plt.xlabel("Ages")
plt.ylabel("No of customers")
sns.barplot(x=x,y=y)
plt.show()

In [ ]:
ai0_30 = df["Annual Income (k$)"][(df["Annual Income (k$)"]>=0)&(df["Annual Income (k$)"]<=30)]
ai31_60 = df["Annual Income (k$)"][(df["Annual Income (k$)"]>=31)&(df["Annual Income (k$)"]<=60)]
ai61_90 = df["Annual Income (k$)"][(df["Annual Income (k$)"]>=61)&(df["Annual Income (k$)"]<=90)]
ai91_120 = df["Annual Income (k$)"][(df["Annual Income (k$)"]>=91)&(df["Annual Income (k$)"]<=120)]
ai121_150 = df["Annual Income (k$)"][(df["Annual Income (k$)"]>=121)&(df["Annual Income (k$)"]<=150)]

In [ ]:
x=["0-30","31-60","61-90","91-120","121-150"]
y=[len(ai0_30.values),len(ai31_60.values),len(ai61_90.values),len(ai91_120.values),len(ai121_150.values)]

In [ ]:
plt.figure(figsize=(15,6))
plt.title("Number of customer and income")
plt.xlabel("Income")
plt.ylabel("Number  of customers")
sns.barplot(x=x,y=y)
plt.show()

# **Task 3 is completed**